.main-res-about {
    height: 720px;
    text-align: center;
    h2 {
        font-size: 2em;
        padding: .5em 0;
    }
    p {
        margin-bottom: .8em;
        font-size: 14px;
        padding: 0 10px;
    }
    .b {
        background: url('../images/res-about.jpg');
        background-position: center;
        background-size: cover;
        height: 200px;
    }
    .c {
        height: 200px;
        background: url('../images/about.jpg');
        background-position: center;
        background-size: cover;
    }
}

@media (min-width: 768px) {
    .main-res-about {
        position: relative;
        height: 350px;
        h2 {
            margin-bottom: .5em;
            ;
            padding: 0;
        }
        p {
            font-size: 12px;
        }
        .float {
            position: absolute;
            max-width: 800px;
            max-height: 400px;
            top: -8%;
            left: 11%;
            right: 10%;
            bottom: 0;
            z-index: 1000;
        }
        .res-about {
            background: #ffffff;
            display: grid;
            margin: auto;
            grid-auto-columns: 1fr 2fr;
            grid-auto-rows: 1fr 1fr;
            grid-template-areas: "a b" "c d";
            .a {
                grid-area: a;
                max-width: 300px;
                max-height: 200px;
            }
            .b {
                grid-area: b;
                ;
            }
            .c {
                grid-area: c;
                max-height: 200px;
            }
            .d {
                grid-area: d;
                max-height: 200px;
            }
            .res-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                // padding: 1em;
                // max-width: 30%;
                a {
                    font-size: 8px;
                    color: $col-gold;
                    padding: 4px 7px;
                    width: 80px;
                    margin: 0 auto;
                    border: 1px solid $col-gold;
                }
            }
        }
        .about-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 0 auto;
            width: 70%;
            padding: 1em;
        }
    }
}