.main-res-about {
    max-height: 500px;
    text-align: center;
    .res-about {
        background: #ffffff;
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-areas: "a b" "d c";
        .a {
            grid-area: a;
            border-bottom: 1px solid $col-gold;
            // border-right: 1px solid $col-gold;
        }
        .b {
            grid-area: b;
            background: url('../images/res-about.jpg');
            background-position: center;
            background-size: cover;
            // height: 300px;
        }
        .c {
            grid-area: c;
            // height: 300px;
            background: url('../images/about.jpg');
            background-position: center;
            background-size: cover;
        }
        .d {
            grid-area: d;
        }
        h2 {
            font-size: 1.8rem;
            padding: 1em 0;
        }
        p {
            margin-bottom: .5em;
            font-size: .8rem;
            padding: 0 10px;
        }
        .res-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: .7em 0;
            a {
                font-size: 10px;
                color: $col-gold;
                padding: 6px 10px;
                margin: 0 auto;
                border: 1px solid $col-gold;
            }
        }
    }
}

@media (min-width: 768px) {
    .main-res-about {
        position: relative;
        height: 320px;
        .float {
            position: absolute;
            max-width: 800px;
            max-height: 400px;
            top: -8%;
            left: 11%;
            right: 10%;
            bottom: 0;
            z-index: 1000;
        }
        .res-about {
            grid-auto-columns: 1fr 2fr;
            grid-auto-rows: 1fr 1fr;
            grid-template-areas: "a b" "c d";
            .a {
                max-width: 300px;
                max-height: 200px;
            }
            .c {
                max-height: 200px;
            }
            .d {
                max-height: 200px;
            }
        }
        .res-text {
            a {
                margin: 10px 0;
            }
        }
        .about-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 0 2em;
        }
    }
}