    @media (min-width: 768px) {
        .main-res-about {
            position: relative;
            height: 400px;
            .float {
                position: absolute;
                max-width: 800px;
                max-height: 600px;
                top: -11%;
                left: 11%;
                right: 10%;
                bottom: 0;
                z-index: 1000;
            }
            .res-about {
                background: #ffffff;
                display: grid;
                margin: auto;
                grid-auto-columns: 1fr 2fr;
                grid-auto-rows: 1fr 1fr;
                grid-template-areas: "a b" "c d";
                // border: 1px solid salmon;
                // max-width: 80%;
                // margin: 0 auto;
                // flex-direction: column;
                // border: 2px solid tomato;
                // position: absolute;
                // top: -10%;
                // bottom: 100%;
                // transform: translateY(100px);
                .a {
                    grid-area: a;
                    max-width: 300px;
                    max-height: 300px;
                }
                .b {
                    grid-area: b;
                    background: url('../images/res-about.jpg');
                    background-position: center;
                    background-size: cover;
                    height: 250px;
                    ;
                }
                .c {
                    grid-area: c;
                    background: url('../images/about.jpg');
                    // max-height: 300px;
                    // max-width: 300px;
                }
                .d {
                    grid-area: d;
                    max-height: 300px;
                }
                .res-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    padding: 1em;
                    // max-width: 30%;
                    h2 {
                        font-size: 2em;
                        margin-bottom: .5em;
                    }
                    p {
                        margin-bottom: .8em;
                    }
                    a {
                        font-size: 14px;
                        color: $col-gold;
                        padding: 8px 15px;
                        width: 80px;
                        margin: 0 auto;
                        border: 1px solid $col-gold;
                    }
                }
            }
            .about-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                margin: 0 auto;
                width: 70%;
                padding: 1em;
                h2 {
                    font-size: 2em;
                    margin-bottom: .5em;
                }
                p {
                    margin-bottom: .8em;
                }
            }
        }
    }