@import url('https://fonts.googleapis.com/css?family=Pompiere|Vibur');
// font-family: 'Vibur', cursive;
// font-family: 'Pompiere', cursive;
body,
html {
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: $col-white;
    a,
    p {
        font-family: 'Pompiere', cursive;
    }
    a,
    li {
        color: $col-white;
        text-transform: uppercase;
    }
    p {
        color: $col-gray;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li {
        font-family: 'Vibur', cursive;
    }
    .wrapper {
        position: relative;
        height: 100%;
        background-image: url('https://image.ibb.co/f4aXxR/pizza_2589569.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}