body,
html {
    height: 100%;
    width: 1024px;
    margin: 0 auto;
    background: $col_dark;
    .wrapper {
        height: 100vh;
        background-image: url('https://image.ibb.co/f4aXxR/pizza_2589569.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}