.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
  //   url('https://image.ibb.co/f4aXxR/pizza_2589569.jpg')
  filter: brightness(1.2);
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .headings {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h1,
    h2 {
      color: $col-white;
    }
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 2rem;
    }
  }
}

.slideInRight {
  animation-duration: 3s;
  animation-delay: 0s;
}

.slideInLeft {
  animation-duration: 3s;
  animation-delay: 0s;
}
