.menu-header {
    height: 300px;
    width: 100%;
    background: linear-gradient(rgba(62, 59, 74, .4), rgba(62, 59, 74, .4)), url('../images/meal.jpg');
    filter: brightness(1.2);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.menu {
    padding: 6em 0;
    text-align: center;
    .menu-headings {
        text-align: center;
    }
    h3 {
        font-size: 2em;
        margin-bottom: 5px;
    }
    hr {
        width: 5%;
        height: 2px;
        background-color: $col-gold;
        border: none;
        margin: 0 auto;
    }
    h4 {
        margin: 2em 0;
        text-transform: uppercase;
    }
    .food-aperitives,
    .deserts {
        display: flex;
        flex-direction: column;
        div {
            padding: 1em 2em;
            h6 {
                color: $col-gold;
                font-size: 1.4rem;
            }
            p,
            h6 {
                margin-top: 1em;
            }
        }
    }
    @media (min-width: 768px) {
        .food-aperitives,
        .deserts {
            flex-direction: row;
            flex-wrap: wrap;
            div {
                max-width: 40%;
                margin: auto;
                padding: 1em 2em;
                p {
                    float: left;
                    width: 80%;
                }
                h6 {
                    color: $col-gold;
                    font-size: 1.4rem;
                    float: right;
                }
            }
        }
    }
}