.logo {
    text-transform: capitalize;
}

.navigation {
    display: none;
}

.nav-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.hamburger-tog,
.hide-tog {
    display: none;
}

.hamburger-tog {
    // overflow: hidden;
    // display: flex;
    flex-direction: column;
    // justify-content: center;
    text-align: center;
    // align-items: center;
    position: absolute;
    // width: 100%;
    // height: 100vh;
    background: #fe8a8a;
    z-index: 100000;
    .close-tog {
        margin-left: auto;
        padding: 10px;
    }
    li {
        padding: 2em 0;
    }
    a {
        font-size: 2em;
        color: rgb(255, 255, 255);
    }
}

@media (min-width: 768px) {
    .hamburger-tog {
        display: none;
    }
    .nav-mobile {
        display: none;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .logo {
        margin-right: auto;
    }
    li,
    .logo {
        padding: 1em .6em;
    }
    a {
        font-size: .8rem;
    }
}