.logo {
    text-transform: capitalize;
}

.navigation {
    display: none;
}

.nav-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo,
    .fa-bars {
        font-size: .8rem;
        padding: 1em .5em;
    }
}

@media (min-width: 768px) {
    .nav-mobile {
        display: none;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .logo {
        margin-right: auto;
    }
    li,
    .logo {
        padding: 1em .6em;
    }
    a {
        font-size: .8rem;
    }
}