.specialities {
    height: 350px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://image.ibb.co/hJ7nxR/background_3007395_1920.jpg');
    filter: brightness(1.2);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h2 {
        color: $col-white;
        font-size: 2.5rem;
    }
}