.special {
    position: relative;
    height: 350px;
    .float {
        position: absolute;
        top: 21%;
        left: 11%;
        right: 10%;
        bottom: 0;
        z-index: 999;
    }
    .special-items {
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        img {
            width: 200px;
            height: 200px;
        }
        div {
            background: #fff;
        }
        // .hello {
        //     background: red;
        // }
        // .green {
        //     background: greenyellow;
        // }
        h5,
        h6 {
            text-transform: uppercase;
            margin: 1.5em 0;
        }
        h5 {
            font-size: .8rem;
        }
        h6 {
            font-size: .6rem;
            color: $col-gold;
        }
    }
}