body,
html {
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(214, 200, 165, 0.6));
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body a,
html a {
  font-family: "Bellefair", sans-serif;
  text-decoration: none;
  font-size: 0.9rem;
}
body p,
body h4,
body h5,
body h6,
html p,
html h4,
html h5,
html h6 {
  font-family: "Bellefair", serif;
  line-height: 1.3;
}
body a,
body li,
html a,
html li {
  color: #fbfcf9;
  text-transform: uppercase;
}
body p,
html p {
  color: #afafaf;
}
body h1,
body h2,
body h3,
body li,
html h1,
html h2,
html h3,
html li {
  font-family: "Great Vibes", cursive;
}
body .wrapper,
html .wrapper {
  position: relative;
  border: 1px solid #222222;
  background-color: #fbfcf9;
  z-index: 1;
}

hr {
  width: 5%;
  height: 2px;
  background-color: #d6c8a5;
  border: none;
  margin: 0 auto;
}

.logo {
  text-transform: capitalize;
}

.navigation {
  display: none;
}

.mobile-nav-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}
.mobile-nav-icons li {
  font-size: 1.2em;
}
.mobile-nav-icons li a {
  font-size: 1.2em;
}
.mobile-nav-icons li #open-tog {
  cursor: pointer;
}

#mobile-nav {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  background: #d6c8a5;
  z-index: 10000;
  text-align: center;
}
#mobile-nav #close-tog {
  padding: 2em 0;
  margin-left: auto;
  margin-right: 2em;
}
#mobile-nav li {
  margin: 1em 0;
}
#mobile-nav li a {
  font-size: 1.2em;
  transition: all 300ms ease-in-out;
  color: #3c363e;
}
#mobile-nav li a:hover {
  color: rgba(60, 54, 62, 0.425);
}

@media (min-width: 768px) {
  .hamburger-tog {
    display: none;
  }
  .mobile-nav-icons {
    display: none;
  }
  #mobile-nav {
    display: none;
  }
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .logo {
    margin-right: auto;
    font-size: 1.2rem;
  }
  li,
  .logo {
    padding: 1em 0.6em;
  }
  a {
    font-size: 0.8rem;
  }
}

.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("../img/headerpic.png");
  filter: brightness(1.2);
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header .headings {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header .headings h1,
.header .headings h2 {
  color: #fbfcf9;
}
.header .headings h1 {
  font-size: 5rem;
}
.header .headings h2 {
  font-size: 2rem;
}

.slideInRight {
  animation-duration: 3s;
  animation-delay: 0s;
}

.slideInLeft {
  animation-duration: 3s;
  animation-delay: 0s;
}

.main-res-about {
  max-height: 500px;
  text-align: center;
}
.main-res-about .res-about {
  background: #ffffff;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas: "a b" "d c";
}
.main-res-about .res-about .a {
  grid-area: a;
  border-bottom: 1px solid #d6c8a5;
}
.main-res-about .res-about .b {
  grid-area: b;
  background: url("../img/res-about.jpg");
  background-position: center;
  background-size: cover;
}
.main-res-about .res-about .c {
  grid-area: c;
  background: url("../img/about.jpg");
  background-position: center;
  background-size: cover;
}
.main-res-about .res-about .d {
  grid-area: d;
}
.main-res-about .res-about h2 {
  font-size: 1.8rem;
  padding: 0.5em 0;
}
.main-res-about .res-about p {
  margin-bottom: 0.5em;
  font-size: 0.8rem;
  padding: 0 10px;
}
.main-res-about .res-about .res-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0.7em 0;
}
.main-res-about .res-about .res-text a {
  font-size: 10px;
  color: #d6c8a5;
  padding: 6px 10px;
  margin: 0 auto;
  border: 1px solid #d6c8a5;
}

@media (min-width: 768px) {
  .main-res-about {
    position: relative;
    height: 330px;
  }
  .main-res-about .float {
    position: absolute;
    max-width: 800px;
    max-height: 400px;
    top: -8%;
    left: 11%;
    right: 10%;
    bottom: 0;
    z-index: 1000;
  }
  .main-res-about .res-about {
    grid-auto-columns: 1fr 2fr;
    grid-auto-rows: 1fr 1fr;
    grid-template-areas: "a b" "c d";
  }
  .main-res-about .res-about .a {
    max-width: 300px;
    max-height: 200px;
  }
  .main-res-about .res-about .c {
    max-height: 200px;
  }
  .main-res-about .res-about .d {
    max-height: 200px;
  }
  .main-res-about .about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 2em;
  }
}

.specialities {
  height: 350px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/spcback.png");
  filter: brightness(1);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.specialities h2 {
  color: #fbfcf9;
  font-size: 2.5rem;
}

.special-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.special-items img {
  width: 200px;
  height: 200px;
  border: 0;
}
.special-items div {
  background: #fff;
}
.special-items h5,
.special-items h6 {
  text-transform: uppercase;
  margin: 0.8em 0;
}
.special-items h5 {
  font-size: 0.8rem;
}
.special-items h6 {
  font-size: 0.6rem;
  color: #d6c8a5;
}
.special-items .special-divs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.special-items .special-divs div {
  border-bottom: 1px solid #d6c8a5;
}
.special-items .special-divs:last-child {
  border: none;
}

@media (min-width: 786px) {
  .special {
    position: relative;
    height: 350px;
  }
  .special .float {
    position: absolute;
    top: 21%;
    left: 11%;
    right: 10%;
    bottom: 0;
    z-index: 999;
  }
  .special .special-items {
    height: 200px;
    flex-direction: row;
  }
  .special .special-items h5,
  .special .special-items h6 {
    margin: 1.5em 0;
  }
  .special .special-items h5 {
    font-size: 0.8rem;
  }
  .special .special-items h6 {
    font-size: 0.6rem;
  }
  .special .special-items .special-divs {
    display: block;
  }
}

.menu-header {
  height: 350px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/cheese.jpg");
  filter: brightness(1.2);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.menu {
  padding: 6em 0;
  text-align: center;
}
.menu .menu-headings {
  text-align: center;
}
.menu h3 {
  font-size: 2em;
  margin-bottom: 5px;
}
.menu h4 {
  margin: 2em 0;
  text-transform: uppercase;
}
.menu .food-aperitives,
.menu .deserts {
  display: flex;
  flex-direction: column;
}
.menu .food-aperitives div,
.menu .deserts div {
  padding: 1em 2em;
}
.menu .food-aperitives div h6,
.menu .deserts div h6 {
  color: #d6c8a5;
  font-size: 1.4rem;
}
.menu .food-aperitives div p,
.menu .food-aperitives div h6,
.menu .deserts div p,
.menu .deserts div h6 {
  margin-top: 1em;
}
@media (min-width: 768px) {
  .menu .food-aperitives,
  .menu .deserts {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .menu .food-aperitives div,
  .menu .deserts div {
    max-width: 40%;
    margin: auto;
    padding: 1em 2em;
  }
  .menu .food-aperitives div p,
  .menu .deserts div p {
    float: left;
    width: 80%;
  }
  .menu .food-aperitives div h6,
  .menu .deserts div h6 {
    color: #d6c8a5;
    font-size: 1.4rem;
    float: right;
  }
}

.footer {
  text-align: center;
}
.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em 0;
}
.footer li {
  padding: 0 0.5em;
}
.footer a {
  color: #d6c8a5;
  font-size: 1em;
}
.footer .author {
  margin-bottom: 3em;
  color: #d6c8a5;
}
